<div class="themes">
    <a href="/contents/" class="arrow-back h1 text-left" title="back to index"> ⇽ </a>
    
{% extends "base.html" %}
    
{% block content %}

{{ text|safe }}

<div class="allThemes mt-5">
    <a href="https://patents.copim.ac.uk/hidden/expanding/" target="_blank">EXPANDING citizens</a>
    <a href="https://patents.copim.ac.uk/hidden/active/" target="_blank">ACTIVE citizens</a>
    <a href="https://patents.copim.ac.uk/hidden/secret/" target="_blank">SECRET citizens</a>
    <a href="https://patents.copim.ac.uk/hidden/leaking/" target="_blank">LEAKING citizens</a>
    <a href="https://patents.copim.ac.uk/hidden/working/" target="_blank">WORKING citizens</a>
    <a href="https://patents.copim.ac.uk/hidden/resourceful/" target="_blank">RESOURCEFUL citizens</a>
</div> 

{% endblock %}

</div>