{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col text-center">
    <p class="h1">Performing Patents Otherwise</p>
    <p class="h2">Archival conversations with 320,000 clothing inventions</p>
  </div>
</div>

<div class="row justify-content-center p-3">
  <div class="col-sm-6 text-center">
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="search for a patent record">
      <input type="submit" id="submit" value="search">
    </form>
  </div>
</div>


<div class="row p-3">
  <div class="col text-center">
    <a href="/random">show a random record</a>
  </div>

  <div class="col text-center">
    <a href="/random/two">compare two random records</a>
  </div>
</div>

<div class="row p-3">
  <div class="col text-center">
    <a href="/random/titles">ten random titles</a>
  </div>

  <div class="col text-center">
    <a href="/random/abstracts">ten random abstracts</a>
  </div>

  <div class="col text-center">
    <a href="/random/images">ten random images (takes a long time to load)</a>
  </div>
</div>

{% endblock %}
