<div class="text">
    <button id="notes-operations" onclick="hideShowInfo()">?</button>
    <a href="/contents/" class="arrow-back h1 text-left" title="back to index"> ⇽ </a>
    
{% extends "base.html" %}

{% block content %}

{{ text|safe }}

<div class="allThemes mt-5">
    <a href="/making/interview">Making Of—A Collective Interview</a>
    <a href="/making/database-book">On Combining Databases and Books</a>
    <a href="/making/interface">Interfacing Data</a>
</div> 

{% endblock %}

</div>