<div class="text">
    <button id="notes-operations" onclick="hideShowInfo()">?</button>
    <a href="{{ url_for('main.index') }}" class="search-back text-left" title="back to search">search</a>
    
{% extends "base.html" %}

{% block content %}

{{ text|safe }}

<div class="allThemes mt-5">
    <a href="/making/interview">Making Of—A Collective Interview</a>
    <a href="/making/database-book">On Combining Databases and Books</a>
    <a href="/making/interface">Interfacing Data</a>
</div> 

{% endblock %}

</div>