<div class="text">
    <button id="notes-operations" onclick="hideShowInfo()">?</button>
    <a href="/contents/" class="arrow-back h1 text-left" title="back to index"> ⇽ </a>
    
{% extends "base.html" %}

{% block content %}

{{ text|safe }}

<div class="allThemes mt-5">
    <a href="/making/interview">Making of—a collective interview</a>
    <a href="/making/database-book">On combining databases and books</a>
    <a href="/making/interface">Interface the Archive (WIP)</a>
</div> 

{% endblock %}

</div>