{% extends "base.html" %}

{% block content %}

<div class="action">
  <button onClick="refresh(this)" type="button" value="Refresh" title="new iteration">↻</button>
  <span class="info" style="display: none;">
    <span class="operations">↝ new display of a random record from the dataset;</span>
  </span>
  <button id="notes-operations" onclick="hideShowInfo()">?</button>
  <a href="{{ url_for('main.index') }}" class="search-back text-left" title="back to search">search</a>
</div>

  {% for result in results %}
  <div class="col text-center mt-2" id="result">

    {% if result['title'] is defined %}
    <h1 class="h1 mt-5 mb-2 p-5">
      Title:
      {{ result['title'] }}
    </h1>
    {% endif %}

    {% if result['year'] is defined %}
    <p class="mb-2">
      Year:
      {{ result['year'] }}
    </p>
    {% endif %}

    {% if result['country'] is defined %}
    <p class="mb-2">
      Country:
      {% if result['country'].name is defined %}
        {{ result['country'].name }} {{ result['country'].flag }}
      {% else %}
        {{ result['country'] }}
      {% endif %}
    </p>
    {% endif %}

    {% if result['original_title'] is defined %}
    <p class="mb-2">
      Original language title:
      {{ result['original_title'] }}
    </p>
    {% endif %}

    {% if result['abstract'] is defined %}
    <p class="mb-2">
      Abstract:
      {{ result['abstract'] }}
    </p>
    {% endif %}

    {% if result['original_abstract'] is defined %}
    <p class="mb-2">
      Original language abstract:
      {{ result['original_abstract'] }}
    </p>
    {% endif %}

    <p class="mb-2">
      European Patent Office PDF:
      <a href="{{ url_for('search.id_search', id=result['id'], core='all') }}">
        {{ result['application_id'] }}
      </a>
    </p>

    {% if result['image'] is defined %}
    <div class="col text-center">
      <img class="img-fluid" src="data:image/jpg;base64,{{ result['image'] }}" alt="Drawing accompanying patent for {{ result['title'] }}" />
    </div>
    {% endif %}

  </div>
  {% endfor %}

{% endblock %}
